div(class='mb6-ns mb5')
  ul(class="list pl0 mt0 center w-70 helvetica")
    each item in info
      - var id = item.Translations[0].id
      div(class='post bb b--black-10' data-trans=id)
        a(class='link' href='/posts/{id}')
          li(class="flex items-center dim lh-copy pa3 ph0-l")
            img(class="w2 h2 w3-ns h3-ns br-100" src=item.photo)
            div(class="pl3 flex-auto mv4")
              span(class="f3 db black-70 b")=item.Translations[0].request
              span(class="f6 db i black-70")=item.name
            div(class="dtc v-mid")
              form(class="w-100 tr")
                button(class="f6 button-reset bg-white ba b--blue dim pointer pv1 blue" type="submit")=item.Translations[0].language
