extends layout

block content
  section(class="mw8 center")
    h4.relative.bottom--2.dib.pr2.bg-white.serif Translation Request for #{language}
    article.pt4.bt.b--black-10.ph3.ph0-l
      div.flex.flex-column.flex-row-ns
          div.w-100.w-80-ns.pr3-ns.order-1.order-1-ns
              h1.f3.mt0.lh-title #{request}
              p.f5.f4-l.lh-copy #{context}
              a(title="Post Answer" href="/post-answer/").f6.fw6.hover-blue.link.ba.b--blue-20.blue.ph3.ph3-ns.pv2.pv2-ns.br1.grow.no-underline.dib.fr Post Answer
          div.pl3-ns.order-2.order-2-ns.mb4.mb0-ns.w-100.w-20-ns
              img(src=User.photo class="br-100 h3 w3 dib" alt="avatar")
              p.f6.lh-copy.gray.mv0 By
                  span  #{User.name}
      div.fr.lh-copy.mv0.ph4.pv2.ph0-l
      h4.relative.bottom--2.dib.pr3.bg-white Answers
      article.pv4.bt.bb.b--black-10.ph3.ph0-l
        each answer in Answers
          <article class="pa3 pa5-ns shadow-1">
            <h1 class="">#{answer.content}</h1>
            <div class="cf">
              <dl class="fl fn-l w-50 dib-l w-auto-l lh-title mr5-l">
                <dd class="f6 fw4 ml0 gray mv0">Submitted By</dd>
                <dd class="f3 fw6 ml0 gray mv0">#{answer.User.name}</dd>
              </dl>
              <dl class="fl fn-l w-50 dib-l w-auto-l lh-title mr5-l">
                <dd class="f6 fw4 ml0 gray mv0">Upvotes</dd>
                dd(class="f3 fw6 ml0 gray mv0")
                  = answer.Votes.length && answer.Votes.filter(function(val){ return val.upvote }).length
              </dl>
              <dl class="fl fn-l w-50 dib-l w-auto-l lh-title mr5-l">
                <dd class="f6 fw4 ml0 gray mv0">Downvotes</dd>
                dd(class="f3 fw6 ml0 gray mv0")
                  = answer.Votes.length && answer.Votes.filter(function(val){ return val.downvote }).length
              </dl>
            </div>
            br
            <article class="pa3 pa5 shadow-3">
              h3(class="gray") Comments
              hr
              each comment in answer.Comments
                p(class="measure lh-copy") #{comment.content}
                  p.f6.lh-copy.gray.mv0 By
                      span  #{comment.User.name}
                hr
            </article>
          </article>


  include includes/footer.pug
